@(pageTitle: String)
@layouts.html.default("E-Coffee"){
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <div class="pt-5">
          <h1>@pageTitle</h1>
        </div>
        <h3>
          <small>Buy your coffee online!</small>
        </h3>
        <p>
          Sed imperdiet mollis elementum. Curabitur ac facilisis mauris.
          Phasellus quam lacus, varius eu aliquet ac, facilisis porta arcu.
          In bibendum aliquet nulla. Ut fringilla elementum dolor,
          a consequat leo consectetur vitae.
          Vestibulum ultrices lacus sed ipsum placerat convallis.
          Sed tristique odio in dolor luctus pretium. Duis vehicula id lacus eu fringilla.
          Suspendisse potenti.
        </p>
      </div>
    </div>
  </div>
}