@(title: String, headline: String)(body: Html)
<html>
  <head>
    <title>@title</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    >
  </head>
  <body>
    <nav class="navbar navbar-light fixed-top bg-dark">
      <div class="container">
        <a class="navbar-brand text-white" href="/">E-Coffee</a>
      </div>
    </nav>
    <header class="container-sm pt-5">

    </header>
    @body
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>